<section class="clients" id="clients">
    
    <div class="container">
        <div class="row">
            <div class="container text-container title add-animation">
                <h1 class="display-4">Testimonials</h1>
            </div>
        </div>
        <div class="row">
            <div class="testimonials add-animation">
                <div class="open-quotes">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
                <div class="close-quotes">
                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                </div>
                <p class="lead"> 
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                    Aenean commodo ligula eget dolor. Aenean massa. 
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="client-names">
                <ul class="nav list-inline nav-text">
                    <li>Lorem</li>
                    <li>Aenean</li>
                    <li>Cum</li>
                </ul>
            </div>
        </div>
    </div>    
</section>