<footer class="footer footer-dark">
    <div class="container footer-container">
        <div class="row">
            <div class="col-md-6">
                <div class="contact-info">
                    <a href="#home">Lynx</a>
                    <a href="mailto:{{site.email}}">contact@lynx-pictures.net</a>
                    <a href="#">4, rue René Balayn – 94800 Villejuif</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="social-media float-xs-right">
                    <a href="https://www.facebook.com">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a href="https://twitter.com">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="https://youtube.com">
                        <i class="fa fa-youtube"></i>
                    </a>                  
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align:center">
                <small class-"text-muted">&copy; <script>document.write(new Date().getFullYear())</script> Lynx pictures, site made by XPA</small>
            </div>
        </div>
    </div>
</footer>