<section class="work" id="work">
    
    <div class="container">
        <div class="row">
            <div class="container text-container title add-animation">
                <h1 class="display-4">Projects</h1>
            </div>
        </div>
        <div class="row">
            <div class="cards-container">
                <div class="col-md-12">
                    {% for project in site.data.work.projects %}
                    <div class="col-md-4">
                        <div class="card card-block text-xs-center add-animation"
                             data-order="{{project.order}}"
                        >
                            <h4 class="card-title">{{project.name}}</h4>
                            <p class="card-text">
                                {{project.text}}
                            </p>                                
                        </div>                
                    </div>
                    {% endfor %}
                </div>        
            </div>
        </div>
    </div>    
    <div class="jumbotron jumbotron-fluid equipment-container"></div>
    
</section>