.about-us {
    
    h1 {
        margin: 100px 0 40px 0;
        text-transform: uppercase;
    }
    .card img {
        max-width: 100%;   
    }
    
    .text-container {
        text-align: center;
    }
    
    .images-container {
        margin: 100px 0 40px 0;    
    }    
}