.footer {
    overflow: hidden;
}

.footer-dark {
    background-color: $footer-color;
    color: #DDDDDD;
}

.footer-container {
    margin-top: 50px;
    margin-bottom: 30px;
}

.social-media {
    text-align: center;
    margin-left: -40px;  
    font-size: 30px;
    padding: 24px 15px; 
}

.social-media > a {
    display: inline-block;
    width: 40px;
    color: #9A9A9A;
    opacity: 0.6;
}

.social-media > a:hover {
    opacity: 1;
}

.contact-info > a {
    color: #9A9A9A;
    display: block;
    opacity: 0.6;
}

.contact-info > a:hover {
    opacity: 1;
    text-decoration: none;
}